

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
  {% load static %}

  
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
  <script src="{% static 'js/api.js' %}"></script>
</head>

<body>


  
  <h1>Home Page</h1>

  <hr>

  <div class="center-container">
    <p>Welcome  <span id="username"></span></p>
    
    <img src="" alt="User Profile Picture" id="userpic">
  </div>



<section id="buttons" class="buttons"> 

  <button class="top-tracks-button">Top Tracks</button>
  <button class="top-artists-button">Top Artists</button>
    

</section>

</body>
</html>


<!-- Button Clicks -->
<script>

  document.addEventListener("DOMContentLoaded", () => { // wait for page to be loaded

    const topArtistsButton = document.querySelector(".top-artists-button");
    const topTracksButton = document.querySelector(".top-tracks-button");

    topTracksButton.addEventListener("click", () => {
        const topTracksUrl = `/top-tracks`; 
        window.location.href = topTracksUrl; // Redirect to the new URL

    });

    topArtistsButton.addEventListener("click", () => {
        const topArtistsUrl = `/top-artists`; 
        window.location.href = topArtistsUrl; // Redirect to the new URL

    });
  

    const clientid = "{{client_id }}";
    const clientsecret = "{{client_secret }}";
    const redirecturi = "{{redirect_uri}}";

    auth(client_id=clientid,client_secret=clientsecret,redirect_uri=redirecturi);

    access_token = localStorage.getItem('access_token');
    console.log("Access:",access_token);


    async function userinfo(){
      data =  await getUserInfo();
      console.log("userinfo",data);
      
      username = data.display_name;
      console.log("username",username);
      userpic = data.images[1].url;
      console.log("userpic",userpic);

      const usernameElement = document.getElementById('username');
      const userpicElement = document.getElementById('userpic');

      // Update the HTML elements with user information
      usernameElement.textContent = username;
      userpicElement.src = userpic;


    }
    
    userinfo()


  });

</script>
