

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=0">
  <title>Personal Spotify Analytics</title>
  {% load static %}

  
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
  <script src="{% static 'js/api.js' %}"></script>
</head>

<body>


  <!-- Display the selected time frame -->
  <nav class="flex items-center justify-between p-4 bg-[#333333]">
      <h1 class="text-2xl font-bold">Artists</h1>
      <div class="flex items-center">
        <img src="" alt="User Profile Picture" id="userpic">
          
      </div>
  </nav>

  <hr>

  <main>
    <ol class="track-grid">
        
        
        
    </ol>
  </main>



<section id="buttons" class="buttons"> 
  <button id="short_term">1 Month</button>
  <button id="medium_term">6 Months</button>
  <button id="long_term">All Time</button>

  <button id="twenty">Top 20 Tracks</button>
  <button id="fifty">Top 50 Tracks</button>
  


  <button class="top-artists-button">Top Artists</button>

  

</section>

</body>
</html>


<!-- Button Clicks -->
<script>

async function userinfo(){

      
data =  await getUserInfo();
console.log("userinfo",data);


userpic = data.images[1].url;
console.log("userpic",userpic);
const userpicElement = document.getElementById('userpic');

// Update the HTML elements with user information

userpicElement.src = userpic;




}

function handleTimeClick(event) {
  const buttonId = event.target.id;

  // Map button IDs to time_range values
  const timeRangeMap = {
    short_term: "short_term",
    medium_term: "medium_term",
    long_term: "long_term",
  };

  // Get the corresponding time_range from the map
  const timeRange = timeRangeMap[buttonId];
  limit = localStorage.getItem('limit');

  // Call the populateTopTracks function with the updated time_range
  populateTopTracks(time_range=timeRange,limit=limit);
}

function handleLimitClick(event) {
  const buttonId = event.target.id;

  // Map button IDs to time_range values
  const LimitMap = {
    twenty: 20,
    fifty: 50,
  };

  // Get the corresponding time_range from the map
  const Limit = LimitMap[buttonId];
  time_range = localStorage.getItem('time_range');

  // Call the populateTopTracks function with the updated time_range
  populateTopTracks(time_range=time_range,limit=Limit);
}

document.addEventListener("DOMContentLoaded", () => { // wait for page to be loaded

  const topArtistsButton = document.querySelector(".top-artists-button");
  const shortTermButton = document.getElementById("short_term");
  const mediumTermButton = document.getElementById("medium_term");
  const longTermButton = document.getElementById("long_term");

  const twentyButton = document.getElementById("twenty");
  const fiftyButton = document.getElementById("fifty");
  

  shortTermButton.addEventListener("click", handleTimeClick);
  mediumTermButton.addEventListener("click", handleTimeClick);
  longTermButton.addEventListener("click", handleTimeClick);

  twentyButton.addEventListener("click", handleLimitClick);
  fiftyButton.addEventListener("click", handleLimitClick);

  



  topArtistsButton.addEventListener("click", () => {
    const topArtistUrl = `/top-artists`;
    window.location.href = topArtistUrl;
  });

  
  populateTopTracks(time_range="medium_term",limit=20)

  

});

userinfo()
</script>
