
h1{
  color: white;
  font-size: 65px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  line-height: 30px;
  padding-left: 35px;
  margin:2%;
  width:100%;
}


body{
  background-color: black;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  
}

.center-container {
  width: 1000px;
  height: 800px;
  text-align: center;
  color: white;
  padding: 10px;
  flex-wrap: wrap;
  align-content: center;
  top: 25%;
  left: 30%;
  position: absolute;
}

.center-container p {
  font-size: 30px;
  margin: 10px;
  border: 10px;
}

#username {
  
  font-size: 35px;
  font-weight: bold;
}

.center-container #userpic{
  transform: scale(1.5);
  margin: 100px;
  border: 15px;
}

hr{
  width: 33%;
  text-align: left;
}

main{
  width: 80%;
  margin: auto;
  margin-top: -30px;
}



ol.track-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    gap: 30px;
    column-gap: 100px;
    list-style-type: none;
    padding: 10px;
    padding-bottom: 30px;
    margin: 5%;
}

ol.track-grid li {
    border: 3px solid gray;
    padding: 5px;
    text-align: center;
    color: white;
}

ol.track-grid img {
    
    max-width: 170px;
    height: 170px;
}


button{
  background-color: transparent;
  color: white;
  padding: 25px;
  width: 200px;
  border: none;
  margin-right: 20px;
  font-size: 1em;
  font-weight: 600;
}

button:hover{
  background-color: #1c8d43;
  transition: 0.15s;
}

section.buttons{
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 1rem; 
  background-color: #333333;
}

